* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img {
  width: 50px;
}

.nav-link {
  text-transform: uppercase;
  color: black;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #0db3c7;
  transition: width 0.3s ease;
}

.nav-item:hover .nav-link::before,
.nav-link.active-scroll-spy::before {
  width: 80%;
}

.nav-item:hover .nav-link,
.nav-link.active-scroll-spy {
  color: black !important;
}

.navbar .container-fluid {
  padding: 0 80px;
}

.navbarToggler {
  padding: 5px 10px;
  padding-top: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transition: all .5s;
  color: #0db3c7;
}

.navbarToggler:hover {
  background-color: rgba(13, 179, 199, 0.7);
  color: white;
}

.navbarToggler {
  display: none;
}

@media (max-width: 767px) {
  .navbar .container-fluid {
    padding: 0 30px;
  }

  .navbarToggler {
    display: block;
  }

  .nav-link {
    width: fit-content;
  }
}